body {
    color: white;
    background-color: black;
}
a {
    color: rgb(233, 141, 2);
}
nav a {
    color: rgb(230, 74, 47);
}
.copy {
     margin: 600px 0px 0px 0px; /* попробовал изменить размещение года и копирайта внизу страницы */
}